// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #616668;
$light-gray: #E6E6E6;
$black: #000F08;
$purple: #3E2F5B;
$pink: #FF006E;
$white: #f4f4f4;
